extends layout

block content
  h1= title

  form(id='engineeringForm', action="/resource/engineering", method="POST")
    div.form-group
        label.engineeringAttr(for='engineeringcollege') College Name
        input#collegename(type='text', name='name')
    div.form-group
        label.engineeringAttr(for='branch') Engineering Branch
        input#branch(type='text', name='branch')
    div.form-group
        label.engineeringAttr(for='fee') Engineering Fee
        input#fee(type='number', name='fee')
    input(type="submit")

  script.
    document.forms['engineeringForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
