extends layout

block content
  h1= title

  - let engineeringid = toShow._id
  - let engineeringcollege = toShow.college
  - let engineeringfee = toShow.fee
  - let engineeringbranch = toShow.branch
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{engineeringid}
  - let actionid = "/resource/engineering/" + engineeringid
  form(id='EngineeringForm', action= actionid, method="PUT")
    div.form-group
        label.engineeringAttr(for='engineeringcollege') Engineering college
        input#engineeringcollege(type='text', name='engineeringcollege', value= engineeringcollege )
    div.form-group
        label.engineeringAttr(for='branch') Engineering branch
        input#engineeringbranch(type='text', name='branch', value= engineeringbranch )
    div.form-group
        label.engineeringAttr(for='fee') Engineering fee
        input#engineeringfee(type='number', name='fee', value= engineeringfee )
    input(type="submit")

  script.
    document.forms['EngineeringForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });

